# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# My consistent ignores
test_server
test_basic
test_many
test_concurrent
test_unreliable
test_performance
test_deaf
.pytest_cache/*
__pycache__/*

# My ignores for this folder only
drpc.h
test_min
test_forget
test_many_forget
test_old
test_partition
test_endpoint
paxos_server
